<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FloatLabeledEntry.iOS" version="1.1.1" targetFramework="xamarinios10" />
  <package id="Naylah.Core" version="2018.10.19.1" targetFramework="xamarinios10" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="xamarinios10" />
  <package id="Prism.Forms" version="7.2.0.1422" targetFramework="xamarinios10" />
  <package id="Prism.Unity.Forms" version="7.2.0.1422" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="xamarinios10" />
  <package id="Unity.Abstractions" version="5.11.1" targetFramework="xamarinios10" />
  <package id="Unity.Container" version="5.11.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.3.0.908675" targetFramework="xamarinios10" />
</packages>